# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.coverage

# Virtual environments
venv/
.venv/

# Dev & secrets
.env
*.log
*.md

# Tests (not needed in production image)
tests/

# OS
.DS_Store
Thumbs.db
*Zone.Identifier

# Output
output/
